@import partials/main

html, body, main
	height: 100%

body
	overflow: hidden
	font-family: Helvetica, Arial, sans-serif
	font-size: 14px
	&[data-cursor-hidden]:not([data-keep])
		cursor: none

main
	font-size: 0

section
	background: $black
	width: 50%
	height: 100%
	position: relative
	display: inline-block
	vertical-align: top

video
	background: $black
	width: 100%
	top: 50%
	height: auto
	position: absolute
	z-index: 1
	opacity: 0.1
	transition: opacity 0.7s
	transform: translateY(-50%)
	&[data-active]
		opacity: 1
	&[data-fullscreen]
		background: $black !important
		width: 100%
		height: 100%
		top: 0
		left: 0
		z-index: 1000
		opacity: 1
		position: fixed
		transform: translateY(0)
		transition: 0
	&[data-fullscreen-transition]
		z-index: 1001
		animation: fullscreen 5s 1

@keyframes fullscreen
	0%
		opacity: 0
	100%
		opacity: 1

.search
	width: 100%
	height: 100%
	padding: 10px
	box-sizing: border-box
	opacity: 1
	z-index: 2
	position: absolute
	transition: opacity 0.4s
	&[data-visible], &[data-unreachable]
		opacity: 1
	input, ul
		width: 100%
		+prefix(backdrop-filter, blur(20px))
	ul
		background: transparentize($white, 0.7)
		max-height: calc(100vh - 71px)
		border-radius: 0 0 6px 6px
		overflow: scroll
		z-index: 5
		position: relative
		display: none
	li
		border-top: 1px solid transparentize($white, 0.9)
		padding: 10px
		display: flex
		align-items: center
		font-size: 14px
		cursor: pointer
		&:hover, &:active, &[data-selected]
			border-top-color: transparent
			+ li
				border-top-color: transparent
		&:hover
			background: transparentize($white, 0.95)
		&:active, &[data-selected]
			background: transparentize($white, 0.9)
		&:first-of-type
			border-top: none
		&.empty
			justify-content: center
			padding: 20px
			color: transparentize($white, 0.4)
			cursor: default
			&:hover, &:active, &[data-selected]
				background: transparent
		.thumbnail
			background: $black
			width: 60px
			height: 45px
			margin-right: 20px
			border-radius: 5px
			overflow: hidden
			position: relative
			flex-shrink: 0
			img
				width: auto
				height: 100%
				left: 50%
				top: 50%
				position: relative
				display: block
				transform: translate(-50%, -50%)
		.infos span
			display: block
		.title
			color: transparentize($black, 0.3)
		.channel
			margin-top: 5px
			color: transparentize($black, 0.6)
			font-size: 9px
			font-weight: bold
			text-transform: uppercase
			letter-spacing: 1px
	input
		background: transparentize($white, 0.8)
		margin: 0
		padding: 15px
		border: none
		border-radius: 6px
		box-sizing: border-box
		outline: none
		display: block
		font-family: Helvetica, Arial, sans-serif
		font-size: 18px
		color: transparentize($black, 0.4)
		+prefix(appearance, none)
		+placeholder
			color: transparentize($black, 0.4)
		transition: background 0.3s
		&:hover, &:focus
			background: transparentize($white, 0.7)
		&[data-searching]
			border-radius: 6px 6px 0 0
			+ ul
				display: block
	&[data-unreachable] input
		color: transparentize($red, 0.6)

.progress
	background: transparentize($white, 0.2)
	width: 0
	height: 3px
	top: 100%
	z-index: 10
	margin-top: -3px
	position: absolute
	transition: 0.1s linear

.loader
	background: url('/assets/loader.svg') no-repeat center center / contain
	width: 60px
	height: 60px
	top: 50%
	left: 50%
	margin: -30px 0 0 -30px
	z-index: 1
	opacity: 0
	position: absolute
	transition: 0.4s

[data-loading] .loader
	opacity: 1

.config
	width: 200px
	top: 100%
	left: 100%
	margin: -30px 0 0 -220px
	z-index: 3
	position: absolute
	transition: 0.4s
	&[data-hidden]
		display: none
	span
		background: $black
		padding: 4px 3px 2px 3px
		float: right
		cursor: pointer
		display: inline-block
		font-size: 9px
		font-weight: bold
		color: $white
		text-transform: uppercase
		letter-spacing: 1px
		border-radius: 3px
	.content
		background: transparentize($white, 0.7)
		border-radius: 8px
		+prefix(backdrop-filter, blur(20px))
		clear: both
		opacity: 0
		display: block
		transition: 0.2s
		div
			width: 100%
			border-bottom: 1px solid transparentize($white, 0.85)
			display: flex
			align-items: center
			&:last-of-type
				border-bottom: none
			label, input, select
				margin: 0
				padding: 15px
				font-family: Helvetica, Arial, sans-serif
				color: lighten($black, 10)
			label
				font-size: 9px
				font-weight: bold
				text-transform: uppercase
				letter-spacing: 1px
				flex-shrink: 0
				flex-grow: 0
				padding-right: 0
			input, select
				background: transparent
				width: 0
				border: none
				flex-grow: 1
				outline: none
				font-size: 14px
				+prefix(appearance, none)
	&[data-open]
		.content
			opacity: 1
			transform: translateY(calc(-100% - 30px))

.fullscreen
	background: $black
	padding: 4px 3px 2px 3px
	cursor: pointer
	width: 74px
	top: 100%
	left: 0
	margin: -30px 0 0 20px
	z-index: 3
	display: block
	position: absolute
	font-size: 9px
	font-weight: bold
	color: $white
	text-transform: uppercase
	letter-spacing: 1px
	border-radius: 3px
	transition: 0.4s
	&[data-hidden]
		display: none


[data-init]
	.search:not([data-visible]):not([data-unreachable])
		opacity: 0

[data-cursor-hidden]
	.config, .fullscreen
		opacity: 0
		&:hover
			opacity: 1
